.App {
  text-align: center;

}
*{
  font-family: cursive;
}

.center_div{
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
  border: 2px solid black; 
  border-radius: 8px;
  margin-left:500px;
}
h1{
  background-color: aqua;
  margin-top: -20px;
}
ol li{
  list-style: none;
  margin-left: -150px;
}
.btn{
  background-color: rgb(89, 233, 89);
  margin-left: 10px;
  border-radius: 12px;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px dotted blue;
  font-weight: bold;
}
input{
  padding: 8px;
  border-radius: 12px;
}